*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat',sans-serif;
  background-color: #232323;
  color: #fff;
}
nav {
  background-color: #3b3939;
  padding: 20px;
}

nav > a {
  text-decoration: none;
  color: inherit;
  transition: .2s;
}

nav > a:hover {
  color: #adadad;
}
.menu-btn {
  font-size: 20px;
  font-weight: 700;
  padding-right: 30px;
  color: white;
}

  .nav-btn {
  padding: 0 8px;
}

.SENSOR {
  min-height: 95vh;
  display: flex;
  align-items:center;
  justify-content: center;
}

.SENSOR > a > img {
  width: 200px;
  padding-top: 70px;
}

.section-content {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
}

.section-content > img {
  width: 300px;
  height: max-content;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left:50px;
}

.description > p {
  line-height: 30px;
  max-width: 70%;
}

.img {
  width: 500px;
  
}
.titulo {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  
}
